<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/quran"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/quran"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quran"
        tools:targetApi="31">
        <activity
            android:name=".TafseerQuranActivity"
            android:exported="false"
            android:label="Tafseer Quran"/>
        <activity
            android:name=".VerseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- MainActivity declaration -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="QuranApp"
            android:theme="@style/Theme.QuranApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- SettingsActivity declaration -->
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Settings" />
    </application>

</manifest>